.text-area:focused {
    -fx-faint-focus-color: transparent;
    -fx-focus-color: transparent;
    -fx-background-color: -fx-text-box-border, -fx-control-inner-background;
    -fx-background-insets: 0, 1;
    -fx-background-radius: 0;
}